/* fontes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* cores */
:root {
    --azul-claro: #a8d8ff;
    --azul-medio: #2196f3;
    --azul-escuro: #0d47a1;
    --branco: #ffffff;
    --preto: #000000;
}

/* barra d cima */
header {
    background-color: var(--azul-escuro);
    padding: 15px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--azul-claro);
}

/*botao inscreva se de cima*/
.btn-menu {
    background-color: var(--azul-medio);
    padding: 8px 15px;
    border-radius: 5px;
}

/* fundo d cima com gradiente */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 10%;
    background: linear-gradient(to right, var(--azul-claro), var(--branco));
    gap: 50px;
}

.hero-text {
    flex: 1;
}

/*titulo tecnologia bla bla*/
.hero-text h1 {
    font-size: 2.5rem;
    color: var(--azul-escuro);
    margin-bottom: 20px;
}

/*texto tecnologia bla bla*/
.hero-text p {
    font-size: 1.1rem;
    color: var(--preto);  
    line-height: 1.6;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
}

/* parte do meio */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 10%;
    gap: 50px;
    background-color: var(--branco);
}

.about-text {
    flex: 1;
}

/*titulo monitoramento bla bla*/
.about-text h2 {
    font-size: 2rem;
    color: var(--azul-escuro);
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

/* container do inscreva se */
.cta {
    text-align: center;
    padding: 60px;
    background-color: var(--azul-medio);
}

/*botao inscreva se*/

.btn-cta {
    background-color: var(--branco);
    color: var(--azul-escuro);
    padding: 15px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

/*cor d qndo passar o mouse no botao*/
.btn-cta:hover {
    background-color: var(--preto);
}

/* rodape */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--azul-escuro);
    color: var(--branco);
}   